* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 800px;
  background-image: url(./Assets/img_head.jpg);
  background-size: cover;
  background-position: center;
}

.nav-list {
  width: 100%;
  height: 60px;
  background-color: rgba( 0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.typewrite {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.typewrite p {
  font-family: monospace;
  font-weight: 500;
  font-size: 4rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid;
  animation: typing 3s steps(19),
             blink 1s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 19ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.socials {
  width: 40%;
  height: 80px;
  min-width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socials a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}
.socials a:hover {
  opacity: 0.7;
}
.discord {
  width: 150px;
  height: 60px;
  background-color: #7289da;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.teamspeak {
  width: 150px;
  height: 60px;
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.diagonal-box {
  width: 100%;
  height: 120px;
  background: rgb( 35, 35, 35);
  transform: skewY(-1deg);
  position: relative;
  top: -60px
}

main {
  flex: 1;
  vertical-align: top;
  width: 70%;
  margin: 0 auto 50px auto;
}
main h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto 30px auto;
  font-size: 3rem;
}
main p {
  text-align: center;
  width: 70%;
  font-size: 1.5rem;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgb( 35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  header {
    height: 700px;
  }

  .nav-list {
    flex-direction: column;
    height: 230px;
    padding: 15px;
    margin-bottom: 50px;
    gap: 40px;
  }
  .nav-list li a {
    font-size: 1rem;
  }

  .typewrite {
    margin: 50px;
  }
  .typewrite p {
    font-size: 2rem;
  }

  .socials {
    height: 140px;
    flex-direction: column; 
  }

  .diagonal-box {
    height: 80px;
  }

  main p {
    width: 60%;
  }
}

@media (max-width: 500px) {
  header {
    height: 600px;
  }

  .nav-list {
    flex-direction: column;
    height: 150px;
    padding: 15px;
    margin-bottom: 50px;
    gap: 15px;
  }
  .nav-list li a {
    font-size: 1rem;
  }

  .typewrite p {
    font-size: 1.3rem;
  }

  .socials {
    height: 80px;
    flex-direction: column; 
  }
  .teamspeak {
    display: none;
  }

  main h1 {
    margin-top: 30px;
    font-size: 2rem;
  }
  main p {
    font-size: 1.2rem;
    width: 60%;
  }
}